.topnav {
  overflow: hidden;
  background-color: #F3F0F3;
  float: right;
}

.topnav a {
  float: left;
  color: #a349a0;
  text-align: left;
  padding: 10px 25px;
  padding-left: 30px;;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #692e5b;
  color: white;
}

.header {
  padding-left: 20px;
  /*  or padding-left:16px */
  text-align: left;

 font-family: 'Jersey_25:Regular', sans-serif;
  line-height: normal;
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 70px;
  color: black;
  letter-spacing: 3.5px;
  white-space: pre-wrap;


  
}