.topnav {
  overflow: hidden;
  background-color: #F3F0F3;
  float: right;
}

.topnav a {
  float: left;
  color: #a349a0;
  text-align: left;
  padding: 10px 25px;
  padding-left: 30px;;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #692e5b;
  color: white;
}

.header {
  background-color: #F3F0F3;
  padding: 20px;
  /*  or padding-left:16px */
  text-align: left;
  font-size: 35px;
  color: #a349a0;
  
}