
body {
 background-color: #C7A5E2;


}

:root {
    --primary-color:  #C7A5E2;
    --secondary-color: #AF76AA;
    --font-style: 'Arial', sans-serif;}

h1, h2 {
    color: black;
    text-align: center;
    font-family: var(--font-style);
}
a {
    text-decoration: none;
    font-family: var(--font-style);
}
p {
    color: black;
    font-family: var(--font-style);
}
.p-home { 
    text-align: center;
}
.div-top {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    padding: 1rem 2rem;
}


.div-center {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
}
.footer {
  background: #d6b4f0; /* purple tone */
  padding: 4rem 2rem;
  margin: auto 0 0 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.footer-brand h3 {
  margin-bottom: 0.5rem;
}

.footer-brand p {
  max-width: 280px;
  opacity: 0.8;
}

.socials {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.footer-links h4 {
  margin-bottom: 0.75rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer a {
  text-decoration: none;
  color: inherit;
  opacity: 0.85;
}

.footer a:hover {
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}