---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>

</head>
<body>
	<a href="/music">music</a>  <a href="/Contact">Contact</a>
	<h1>Velkommen</h1>
    <p>her i Namedly vill vi at folk skall kunne kontakte oss, vi har: Instagram, Twitter, LinkedIn, EMail</p>
</body>
</html>
