---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css" />
	<title>Home</title>
</head>
<body>
	<div class="div-top">
		<a href="/music">music</a>  
		<a href="/Contact">contact</a>
	</div>
	<h1> Velkommen til Namedly</h1>
	<p class="p-home">her i Namedly, har vi en nettside for å dele musikk og oppleve kreativitet.</p>
</body>
</html>
